body{
            font-family: Arial, Helvetica, sans-serif;        
}
header{
    background-color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    display: flex;          
    justify-content: flex-end;  
    align-items: center;
    gap: 10px;               
    flex-wrap: wrap;        
}
header ul li {
    display: inline-block;   
}

header ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 14px;    
    text-decoration: none;
    border-radius: 8px;      
    white-space: nowrap;   
}

#middle{
            background: url("bg.png");
            background-size: auto;
            padding: 20px 30px 20px 40px;
            display: flex;
}





a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 5px;
}
.bluebullet{
  border-radius: 50px; 
  border: 2px solid #567aee;
  padding: 14px 14px; 
  width: 170px;
  height: 16px; 
  color:#567aee; 
  font: 15px; 
  background-color: #d6dcef;

}
.buttons button{
          padding: 12px 20px;
          border: 2px solid #e7e7e7;;
          /* border-color: rgb(219, 216, 216); */
          border-radius: 12px;
          font-weight: bold;
}
.ficons{
    margin-left: 10px; color: #bfbfbf;
}
.foot{
    display: flex;gap: 80px; align-items: center;
  justify-content: center; padding-top: auto; padding-bottom: auto; padding-right: 0px;
}
/* icon header */


ul{
  list-style-type: none;  
  padding: 5px; 
  display: flex;
  float: right;
  margin-top: 5px;
  margin-right: 55px;
}

@media only screen and (max-width: 600px){
  body{ background-color: blue;}
    .buttons{
    display: flex;
    flex-direction: column;
  }


}

@media (max-width: 768px) {
  .layout {
    display: flex;
    
  }
}

a:link {
    color: black;
}

a:hover {
    background-color: #e6e6e6;
    border-radius: 8px;
}

a:active {
    color: blue;
}

a:visited {
    color: purple;
}
img[src="h5.jpg"] {
    border: 4px solid #222;
    border-radius: 8px;
}

